/* src/app/custom.css */

/* Import Tailwind's base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
}
@layer components {
}

.wmde-markdown {
  @apply px-2 !important; /* Applies padding of 0.625rem (10px) on all sides */
  /* padding: 30px !important; Corrected padding syntax */
}

.md-editor-preview {
  @apply font-normal p-0 !important; /* Applies font-size of 0.875rem (14px) */
}

/* .md-editor-preview ol {
  list-style-type: decimal;
  font-size: medium;
}

.md-editor-preview ul {
  list-style-type: disc;
  font-size: medium;
} */
